/* General Styling */
.parent {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
}

.login_container {
    height: 80vh;
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    border-radius: 35px;
}

.main_content {
    /* border: 2px solid black; */
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
}

.login_fonts {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
}

.email_container {
    /* margin-top: 20px; */
    margin: 20px 0px 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass_container {
    margin: 7px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rememberForget {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10px;
}

.btn {
    width: 65%;
    background-color: #0386d0;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #007ab9;
    font-weight: 500;
}

.socialHandles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 2rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .login_container {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .main_content {
        padding: 15px;
        width: 100%;
    }

    .icon_color {
        margin-bottom: 10px;
    }

    .inputstyles {
        width: 100%;
        margin-left: 0;
    }

    .btn {
        width: 100%;
    }

    .rememberForget {
        flex-direction: column;
        gap: 0px;
    }
    
    .socialHandles {
        flex-direction: row;
        font-size: 1.5rem;
    }

    .login_fonts {
        font-size: 1.4rem;
    }

    .fingerprint {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .login_container {
        width: 95%;
    }

    .main_content {
        padding: 10px;
    }

    .login_fonts {
        font-size: 1.2rem;
    }

    .btn {
        padding: 8px 0;
    }

    .socialHandles {
        font-size: 1.3rem;
    }

    .fingerprint {
        font-size: 2rem;
    }
}
