.terms_Condition{
  cursor: pointer;
  color: #0386D0;
}
.terms_text{
  width: 62%;
  font-size: 1.1rem;
  margin: 0 auto;
  color: #6B5E5E;
  text-wrap: balance;
}

.loginregister{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login_text{
  cursor: pointer;
  text-decoration: underline;
  color: #0386D0;
}
.register_text{
  cursor: pointer;
}
.hovertext:hover{
  color: #0386D0;
}
.hovertext:active{
  text-decoration: underline;
}
.icon_color{
  color: #A6A6A6;
}

/* input  */

.inputstyles{
  width: 60%;
  border: none;
  border-bottom: 2px solid #A6A6A6;
  margin: 10px;
}
.inputstyles:focus{
  outline: none;
}
.displayicon{
  display: block;
}
.eye{
  margin-left: -15px;
}

.rememberPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A6A6A6;
  font-size: 13px;
}
.fingerprint{
  font-size: 3rem;
}


